<module>
	<rawname>userman</rawname>
	<name>User Management</name>
	<version>16.0.13</version>
	<publisher>Sangoma Technologies Corporation</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<repo>standard</repo>
	<description>
		This Module manages all PBX users. It allows an Administrator to create a User Account that can be used by other applications for login or API purposes.
	</description>
  	<more-info>https://wiki.freepbx.org/display/FPG/User+Management+Module</more-info>
	<changelog>
		*16.0.13* FREEI-2691 Added condition to use password given in GQL query (addExtension/UpdateExtension) to access user control panel or else to generate a new random password 
		*16.0.12* FREEI-3350: set /AMPUSER/ext/accountcode to each extension's userId 
		*16.0.11* Packaging of ver 16.0.11
		*16.0.10* Add previous user e-mail address to extraData 
		*16.0.9* FREEPBX-21901: fixed data recovery 
		*16.0.8* FREEPBX-21902- Remove directory in table kvstore - v13 
		*16.0.7* FREEPBX-21782: Backup and restore all data modulo 
		*16.0.6* Packaging of ver 16.0.6
		*16.0.5* FREEPBX-20823: LDAP users, contact data is deleted 
		*16.0.4* FREEI-1623 Userman Delete button GUI improvement 
		*16.0.3* FREEI-1458 user manager: add instructions to select a directory to add users 
		*16.0.2* FREEI-1201 Ordering userman groups generates PHP error 
		*16.0.1alpha* 16.0.1 alpha release
	</changelog>
	<info/>
	<category>Admin</category>
	<menuitems>
		<userman needsenginedb="yes">User Management</userman>
	</menuitems>
	<depends>
		<phpversion>5.6.0</phpversion>
		<version>15.0.6.18</version>
		<module>core ge 13.0.84</module>
	</depends>
	<hooks>
		<core class="Core" namespace="FreePBX\modules">
			<method callingMethod="getQuickCreateDisplay" class="Userman" namespace="FreePBX\modules">getQuickCreateDisplay</method>
			<method callingMethod="processQuickCreate" class="Userman" namespace="FreePBX\modules">processQuickCreate</method>
		</core>
		<bulkhandler class="Bulkhandler" namespace="FreePBX\modules" priority="150">
			<method callingMethod="getHeaders" class="Userman" namespace="FreePBX\modules">bulkhandlerGetHeaders</method>
			<method callingMethod="getTypes" class="Userman" namespace="FreePBX\modules">bulkhandlerGetTypes</method>
			<method callingMethod="import" class="Userman" namespace="FreePBX\modules">bulkhandlerImport</method>
			<method callingMethod="export" class="Userman" namespace="FreePBX\modules">bulkhandlerExport</method>
		</bulkhandler>
	</hooks>
	<database>
		<table name="userman_users">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="auth" type="string" length="150" default="freepbx" notnull="false"/>
			<field name="authid" type="string" length="750" notnull="false"/>
			<field name="username" type="string" length="150" notnull="false"/>
			<field name="description" type="string" length="255" notnull="false"/>
			<field name="password" type="string" length="255" notnull="false"/>
			<field name="default_extension" type="string" length="45" default="none"/>
			<field name="primary_group" type="integer" notnull="false"/>
			<field name="permissions" type="blob" notnull="false"/>
			<field name="fname" type="string" length="100" notnull="false"/>
			<field name="lname" type="string" length="100" notnull="false"/>
			<field name="displayname" type="string" length="200" notnull="false"/>
			<field name="title" type="string" length="100" notnull="false"/>
			<field name="company" type="string" length="100" notnull="false"/>
			<field name="department" type="string" length="100" notnull="false"/>
			<field name="language" type="string" length="100" notnull="false"/>
			<field name="timezone" type="string" length="100" notnull="false"/>
			<field name="dateformat" type="string" length="100" notnull="false"/>
			<field name="timeformat" type="string" length="100" notnull="false"/>
			<field name="datetimeformat" type="string" length="100" notnull="false"/>
			<field name="email" type="text" notnull="false"/>
			<field name="cell" type="string" length="100" notnull="false"/>
			<field name="work" type="string" length="100" notnull="false"/>
			<field name="home" type="string" length="100" notnull="false"/>
			<field name="fax" type="string" length="100" notnull="false"/>
			<key name="username_UNIQUE" type="unique">
				<column name="username"/>
				<column name="auth"/>
			</key>
		</table>
		<table name="userman_users_settings">
			<field name="uid" type="integer"/>
			<field name="module" type="string" length="65"/>
			<field name="key" type="string" length="190"/>
			<field name="val" type="blob"/>
			<field name="type" type="string" length="16" notnull="false"/>
			<key name="index4" type="unique">
				<column name="uid"/>
				<column name="module"/>
				<column name="key"/>
			</key>
			<key name="index2" type="index">
				<column name="uid"/>
				<column name="key"/>
			</key>
			<key name="index6" type="index">
				<column name="module"/>
				<column name="uid"/>
			</key>
		</table>
		<table name="userman_groups">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="auth" type="string" length="150" default="freepbx" notnull="false"/>
			<field name="authid" type="string" length="750" notnull="false"/>
			<field name="groupname" type="string" length="150" notnull="false"/>
			<field name="description" type="string" length="255" notnull="false"/>
			<field name="language" type="string" length="100" notnull="false"/>
			<field name="timezone" type="string" length="100" notnull="false"/>
			<field name="dateformat" type="string" length="100" notnull="false"/>
			<field name="timeformat" type="string" length="100" notnull="false"/>
			<field name="datetimeformat" type="string" length="100" notnull="false"/>
			<field name="priority" type="integer" default="5"/>
			<field name="users" type="blob" notnull="false"/>
			<field name="permissions" type="blob" notnull="false"/>
			<field name="local" type="integer" notnull="true" default="0"/>
			<key name="groupname_UNIQUE" type="unique">
				<column name="groupname"/>
				<column name="auth"/>
			</key>
		</table>
		<table name="userman_groups_settings">
			<field name="gid" type="integer"/>
			<field name="module" type="string" length="65"/>
			<field name="key" type="string" length="190"/>
			<field name="val" type="blob"/>
			<field name="type" type="string" length="16" notnull="false"/>
			<key name="index4" type="unique">
				<column name="gid"/>
				<column name="module"/>
				<column name="key"/>
			</key>
			<key name="index2" type="index">
				<column name="gid"/>
				<column name="key"/>
			</key>
			<key name="index6" type="index">
				<column name="module"/>
				<column name="gid"/>
			</key>
		</table>
		<table name="userman_directories">
			<field name="id" type="integer" primarykey="true" autoincrement="true"/>
			<field name="name" type="string" length="250" notnull="false"/>
			<field name="driver" type="string" length="150" default=""/>
			<field name="active" type="boolean" default="0"/>
			<field name="order" type="integer" default="5"/>
			<field name="default" type="boolean" default="0"/>
			<field name="locked" type="boolean" default="0"/>
		</table>
	</database>
	<supported>
		<version>16.0</version>
	</supported>
	<console>
		<command>
			<name>userman</name>
		</command>
	</console>
</module>